body{
    background-image: url(../imagenes/fondo.jpg);
}

.iconos{
    color: white;
}

#selec{
    background-color: #A6FFFD;
}

h1, h2{
    font-family: 'Abril Fatface', cursive;
}

h3, p{
    /**font-family: 'Fjalla One', sans-serif;**/
    font-family: 'Abhaya Libre', serif;
}

blockquote p{
    font-family: 'Lobster', cursive;
}

.nav li a{
    text-align: center;
    background-color:#01B1FF;
    color: black;
    font-family: 'Lobster', cursive;
}

.nav li a:hover{
    background-color: #A6FFFD;
}

h1, h3, p{
    color: white;
}

div#comentario{
    color: white;
    background-color: rgb(2, 60, 85);
    border: solid 1.5px rgb(2, 177, 252);
}

.titulos{
    color: white;
}

div#gal{
    background-color: rgb(63, 60, 60);
    /*border:solid 1.5px #9954EB;*/
    border:solid 1.5px white;
}

.imgPer{
    color: white;
}

div#personajes{
    background-color: rgb(230, 127, 127,0.8);
    border: solid 1.5px green;
}

