body{
    /*background-color: rgb(187, 65, 65);*/
    background-image: url(../imagenes/kirbyFon.png);
    /*background-color: black;*/
    color: black;
}

#centro{
    background-color: rgb(255, 255, 255,0.95);
}

#centro2{
    background-color: rgb(255, 255, 255,0.95);
}

#centro3{
    background-color: rgb(255, 255, 255,0.95);
}
@font-face {
    font-family: "PIX";
    src: url("../formatoL/pixx.ttf");

}

* {
    font-family: "PIX";
    font-size: 100%;
}