#pieP{
    background-color: black;
}

div#contactos{
    /*background-color: rgb(173, 87, 25);*/
    border: solid 1.5px white;
    color: white;
}

#redesSoc{
    /*background-color: rgb(2, 60, 85);*/
    border: solid 1.5px white;
    color: white;
}  