

header {
    width: 100%;
}

header #logo {
    float: left;
    width: 20%;
    margin-top: 0%;

}


header #busca{
    padding:0 10px;
    float: left;
    margin-top: 4%; 
    
}

nav ul {
    clear: both;
    margin:20px;
    
}
nav ul li{

    
    display:block;
    float: left;
    padding:0 10px;
    width: 9%;
    margin-top: 1%;
}

#intro {
    padding-top: 4%;
    padding-left: 9%;
    clear: both;
    width: 40%;
    float: left;

}

#intro div {
    
    padding: 1%;
    padding-left: 3%;

}


section + img {

    float: left;
    width: 40%;
    padding-right: 9%;
}


#kirbys {
    padding-bottom: 1%;
    clear: both;
    text-align: center;
    
}

#kirbys input{
    width:22%;
    padding: 0.1%;
}

#kirbys img{
    width: 10%;
    height: 10%;
   padding-left: 3%;
    padding-right: 3%;
}

#medio {
    padding-top: 8%;
    width: 100%;
    
}

#medio #imeg{
    padding-top: 1.5%;
    padding-left: 10%;
    width: 15%;
    float: left;
    padding-right: 7%;
    padding-bottom: 15%;

}

#medio #text{
    width: 65%;
    float:left;
}

#equipo {
    clear: both;
    float: left;
    width: 100%;
    padding-bottom: 1%;
}


#equipo .perf img{

    float: left;
   
}
#equipo .perf p {
    margin-left: -55px;
}


#equipo .perf{

    padding-left: 8%;
    width: 10%;
    float: left;
    
}

header .icon img {

    margin-top: 50%;
    width: 100%;

}
header .icon{

    float: left;
    width: 3%;
    margin-right: -1%;

}

#final{
    clear: both;
   padding-top: 4%;
    float: right;
    width: 75%;
}

#final div{
    clear: both;
    
    margin: 2%;
    padding-left: 2%;
}


#final #c1 {
    float: left;
    width: 40%;

    margin: 2%;
    padding-left: 2%;

}

#final #c2 {
    float: left;
    width: 40%;

    padding-left: 2%;
    margin: 2%;

}

footer{
    padding-top: 4%;
    float: left;
    width: 20%;
}

footer img{
    width: 100%;
}

footer .soci img{
    padding-right: 10%;
    padding-left: 20%;
    width: 15%;
}